body {
    background-image: url(./assets/images/table-bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: sans-serif;
}

div.container {
    width: 80%;
    margin: 20px auto;
}

div.content {
    background: rgba(255, 255, 255, 0.5);
    /* padding: 20px; */
    margin: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#Customers-orders {
    background-color: rgba(180, 173, 222, 0.3);
    padding: 10px;
    margin-top: 0;
    border-radius: 10px;  
    display: flex; 
    align-items: center; 
    justify-content: center; 
}






.table-container {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.Table {
    width: 100%;
    border: none;
    padding: 0;
    border-spacing: 0;
    margin: 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.Table th,
.Table td {
    border: none;
    text-align: center;
    padding: 10px;
    text-align: left;
}

.Table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.821)
}

.Table tr:nth-child(odd) {
    background-color: rgba( 255,255, 255, 0.7)
}




.fa-solid.fa-arrow-up ,.fa-solid.fa-circle-arrow-down,.fa-solid.fa-arrow-down {
    margin-left: 10px;
}


.Table tr td:nth-child(2) {
    color: rgb(155, 88, 210, 1); 
}
#customer{
    color:rgb(155, 88, 210, 1);
}

.profiles {
    border-radius: 50%;
    width: 25px; /
    height: 25px; 
    object-fit: cover; 
    margin-right: 10px;
  }
  
  .status {
    margin: 6px 10px; 
    display: inline-block;
    padding: 10px 30px; 
    background-color: #f1fa6bdb; 
    color: rgb(0, 0, 0); 
    border-radius: 30px; 
    text-align: center; 
    width: calc(100% - 40px); 
    position: relative; 
    overflow: hidden; /
}

.status::before,
.status::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #f1fa6bdb; 
    border-radius: 50%;
}

.status::before {
    left: -50%;
}

.status::after {
    right: -50%;
}

