* {
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
    font-weight: 400;
  }

:root {
    --button-color: rgb(239, 174, 53);
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.button {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 80px;
    padding: 15px 30px;
}


.button.btnlink {
    padding: 10px 35px;
}

nav {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/Intro.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.intro-content {
    position: relative;
}

.intro-content-text {
    /* position: absolute;
    top: 319px;
    left: 90px; */

}

.container {
    width: 90%;
    margin: 0 auto  
}
p{
    font-size: 18px;
    line-height: 30.6px;
}
h1 {
    font-size: 60px;
}

h3 {
    font-size: 42px;
}
h4{
    font-size: 58px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 10px;
}

.intro-content {
    font-size: 17px;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}
.introducing {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    margin: 120px auto;
}

.introducing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.link {
    display: flex;
    /*align-items: flex-start;*/
    align-items: center;
    gap: 10px;
}
#How-it-works-button{
    border-bottom: 2px solid rgba(36, 22, 11, 0.122);
    padding: 4px;
    margin-bottom: 2px;
}
.introducing-img img{
    width: 100%;
}

.aro{
    display: flex;
    margin: 120px 0;
    padding:  90px;
    
    gap: 150px;
    align-items: center;

}
.aro-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content:end;
    
}
.aro .aro-img  img{
margin-top: 164px;
width: 460px;
height: 306px;
}
rectangle {
    height: 2px;
    width: 513px;
    background-color: #555;
}

.featured-in-icons {
    width: 70%;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
}

  .featured-in-icons img{
    width: 104px;
    /* height: 36px; */
}

.featured-in{
    text-align: center;
    padding: 180px 0;

}
.aro-in-action{
    background-image: url("./assets/images/AroInAction.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    gap: ;
}
.aro-in-action-text p{
    margin: 30px auto 60px;

}
.fa-solid.fa-play{
    
}

.aro-two{
    display: flex;
    /* margin: 120px 0; */
    padding:  90px;
    
    gap: 150px;
    align-items: center;

}
.aro-in-action button{
    padding: 58px;
}

.watch-now{
    display: flex;
    gap: 16px;
    align-items: center;
    
}
.watch-now h4{
    font-size: 40px;
    /* margin-bottom: 15px; */
}
.watch-now h6{
    margin-top: 10px
}

.aro-two rectangle{
    width: 126px;
}

