* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  .container {
    width: 80%;
    margin: 150px auto;
  }
.grid-container {
    display: grid;
    background-color: cadetblue;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows:  25% 25% 25% 25%;
    border: 5px solid;
}

.grid-item {
    padding: 20px;
    background-color: chocolate;
    color: #fff;
    border: 3px solid #fff;
}




/*.grid-item:first-child{
    grid-row: 300fr;
}

.grid-item:nth-child(2){
    grid-row: 13fr;
}

.grid-item:nth-child(3){
    grid-row: 17fr;
}
.grid-item:nth-child(4){
    grid-row: 75fr;
}

.grid-item:nth-child(5){
    grid-row: 25fr;
}

/*.grid-item:first-child {
    grid-column: 1 / span 3;
    grid-row: 1/span 3;
}
.grid-item:nth-child(2) {
    
    grid-row: 1/span 1.7;
}


/*.grid-item:nth-child(9) {
    grid-column: 2 / 4;
}
.grid-item:last-child{
   grid-column: 1 / 3;
}
