body {
    background-image: url(./assets/images/table-bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: sans-serif;
}

div.container {
    width: 80%;
    margin: 20px auto;
}

div.content {
    background: rgba(255, 255, 255, 0.5);
    /* padding: 20px; */
    margin: 50px 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#Customers-orders {
    background-color: rgba(180, 173, 222, 0.3);
    padding: 10px;
    margin-top: 0;
    border-radius: 10px;  
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
#Customers-orders h1 {
    margin: 10px;
}
#export{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    padding: 5px;
}
.Search-data {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    justify-content: space-between;
}

.Search-data img {
    width: 16px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
}




.table-container {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.Table {
    width: 100%;
    border: none;
    padding: 0;
    border-spacing: 0;
    margin: 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.Table th,
.Table td {
    border: none;
    text-align: center;
    padding: 10px;
    text-align: left;
}

.Table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.821)
}

.Table tr:nth-child(odd) {
    background-color: rgba( 255,255, 255, 0.7)
}

.fa-solid.fa-arrow-up ,.fa-solid.fa-circle-arrow-down,.fa-solid.fa-arrow-down {
    margin-left: 10px;
}

.Table tr td:nth-child(2) {
    color: rgb(155, 88, 210, 1); 
}
#customer{
    color:rgb(155, 88, 210, 1);
}

.profiles {
    border-radius: 50%;
    width: 25px; /
    height: 25px; 
    object-fit: cover; 
    margin-right: 10px;
  }
  
  .status {
    margin: 6px auto; 
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    padding: 10px 30px;   
    border-radius: 30px; 
    text-align: center; 
    width: calc(100% - 40px); 
    position: relative; 
    overflow: hidden; 
}

.status::before,
.status::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #f1fa6bdb; 
    border-radius: 50%;
}

.status::before {
    left: -50%;
}

.status::after {
    right: -50%;
}

.status.pending{
    background-color: rgba(234, 197, 116, 0.5);
    color: rgb(0, 0, 0);
}
.status.cancelled{
    background-color: rgba(216, 146, 162, 0.7);
    color: rgb(255, 44, 86)    ;
}

.status.delivered{
    background-color: rgba(135, 228, 156, 0.5);

    color: rgb(80, 181, 108);
}
.status.shipped{
    background-color: rgba(111, 203, 235, 0.5)    ;
    color: black;
}
