body {
    font-family: Arial, sans-serif;
    background-color: rgb(171, 171, 240);
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#general {
    padding: 20px;
}

#form-container {
    background-image: url(./assets/images/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 100px 300px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#form-bg {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.input-box input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    padding-right: 30px; 
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

    

#email{
    background-image: url(./assets/images/envelope-regular.svg);
}

#password{
    background-image: url(./assets/images/lock-solid.svg);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container label {
    margin-left: 5px;
}

.forgot-password {
    align-self: flex-end;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px 0; 

}

.register-text {
    margin-top: 15px;
    text-align: center;
}

.register-text a {
    color: #007bff;
    text-decoration: none;
}

a{
    color: #ffffff;
}