body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
    transition: background-color 0.5s;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 20px; 
}

.color-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.color-button:nth-child(1) {
    background-color: rgb(255, 87, 51);
}

.color-button:nth-child(2) {
    background-color: rgb(51, 255, 87);
}

.color-button:nth-child(3) {
    background-color: rgb(51, 87, 255);
}

.color-button:nth-child(4) {
    background-color: rgb(240, 255, 51); 
}

.color-button:nth-child(5) {
    background-color: rgb(255, 51, 212); 
}
